.calc {
    &__main {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100vw;
    }

    &__display {
        padding: 5rem 1rem .5rem 1rem;
        margin: 0;
        font-weight: 200;
        font-size: 6rem;
        text-align: right;
    }

    &__row{
        width: 100%;

        ul {
            list-style: none;
            margin: 0;
            @mixin clearfix {
            
            }
        }

        &-item {
            float: left;
            width: 25%;
            font-size: 2.5rem;
            font-weight: 300;
            text-align: center;
            padding: 2rem;
            border: .1rem solid $base-1;
            cursor: pointer;

            &:not(:last-child){
                border-right: 0;
            }

            &--extra {
                width: 50%;
                text-align: left;
            }

            

        }
    }
}
